.bg-color-name-title {

}

header {
    margin: 0;
}

.logo {
    background: url('/assets/css/images/rosie.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
}